<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About McSplurty</h1>

  <p>
    McSplurty was built by <a target="_blank" href="http://github.com/MarcMcArthur">Marc,</a> a trainee web developer in the firehose project. Marc currently works for a recipe delivery start-up in west London and loves gourment burgers and thick shakes.
  </p>
  <br />
  <p>
    If you want to learn to code - start <a target="_blank" href="http://thefirehoseproject.com/"> here!</a>
  </p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'made-in-london.png', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Marc McArthur</h2>
    <br />
    <p>
      Marc McArthur taught English abroad for many years and is currently working in a recipe delivery start-up in west London.
    </p>
  </div>
  
</div>

<br class="clear" />
<br />
<br />
<br />
<br />